@using API.Controllers
@using CAPA_DATOS.Security
@using DataBaseModel
@{
    string identify = Context.Session.GetString("seassonKey");
    if (identify == null)
    {
        Context.Response.Redirect("/Security/Login");
    }
    var pageConfig = Config.pageConfig();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Portal CCA</title>
    <link rel="icon" type="image/x-icon" href="@pageConfig.MEDIA_IMG_PATH/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/icons.css">
    <link rel="stylesheet" href="~/css/app.css">
    <link rel="stylesheet" href="~/css/site.css">
    <title>@ViewData["Title"] </title>
    @*<link rel="stylesheet" href="~/css/AdminTemplate.css" /> *@
    <script type="module">
        import { WSecurity } from "/WDevCore/Security/WSecurity.js";
        import { NotificacionesReader } from "/Gestion_Mensajes/NotificacionesView.js";
        const logout = () => {
            WSecurity.LogOut();
        }
        window.addEventListener("load", () => {
            //active nav
            document.querySelectorAll(".menu-item").forEach(item => {
                if (location.href.includes(item.id)) {
                    item.className = "active";
                }
            })
            //logOut
            btnLogOut.onclick = logout;            
            //notificaciones 
            document.body.append(new NotificacionesReader({ Leidas: false }))

        })
        //logOut
        btnLogOut.onclick = logout;
    </script>
</head>


<body cz-shortcut-listen="true" data-sidebar-size="lg" id="AdminTemplate">
    <div id="layout_wrapper">
        <header id="page-topbar" class="isvertical-topbar">
            <partial name="Menu/linksHeader" />
        </header>

        <partial name="Menu/MainMenu" />
        <partial name="Menu/headerCollapse" />

        @* RenderBody() contenido de las paginas que usan el layout razor *@
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script>
                            © @pageConfig.TITULO
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">

                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <!-- JAVASCRIPT -->
    <script src="~/js/template/bootstrap.bundle.min.js"></script>
    <script src="~/js/template/metismenujs.min.js"></script>
    <script src="~/js/template/simplebar.min.js"></script>
    <script src="~/js/template/eva.min.js"></script>
    <script src="~/js/template/app.js"></script>
</body>

</html>

@*
<aside id="Aside">
<nav>
<img src="~/Media/Image/close.webp" class="navIcon" onclick="displayNav()">
<div class="logo-container">
<img src="@pageConfig.MEDIA_IMG_PATH@pageConfig.LOGO_PRINCIPAL">
</div>
<partial name="MainMenu"/>

</nav>
</aside>

<header id="Header" class="admin-header">
<img src="~/Media/Image/navIcon.png" class="navIcon" onclick="displayNav()">
<div class="title-container">
<label for="" class="title">@pageConfig.TITULO</label>
<label for="" class="sub-title">@pageConfig.SUB_TITULO</label>
</div> *@