@page
@using API.Controllers
@using APPCORE.Security
@using CAPA_NEGOCIO.UpdateModule.Model
@using DataBaseModel
@using System.Text.Json
@{
    Layout = "_LayoutUpdates";

    string? identify = HttpContext.Session?.GetString("sessionKey") ?? "";
    if (!SecurityController.HavePermission(identify, Permissions.UPDATE_FAMILY_DATA))
    {
        Response.Redirect("/Security/Login");
        return;
    }
    UserModel user = AuthNetCore.User(identify);
    Parientes_Data_Update? pariente = new Parientes_Data_Update { User_id = user.UserId }.Find<Parientes_Data_Update>();
    string ipAddress = HttpContext.Connection.RemoteIpAddress?.ToString() ?? "IP no disponible";
    if(pariente != null){
        pariente.Entro_al_sistema = true;
    }
    var Estados_Civiless = new Estados_Civiles().Get<Estados_Civiles>();
    var Religiones = new Religiones().Get<Religiones>();
    var Paises = new Paises().Get<Paises>();
    var Regiones = new Regiones().Get<Regiones>();
    var Titulos = new Titulos().Get<Titulos>();
    // Convertir las listas en JSON para usarlas en JavaScript
    string estadosCivilesJson = JsonSerializer.Serialize(Estados_Civiless);
    string religionesJson = JsonSerializer.Serialize(Religiones);
    string paisesJson = JsonSerializer.Serialize(Paises);
    string regionesJson = JsonSerializer.Serialize(Regiones);
    string titulosJson = JsonSerializer.Serialize(Titulos);

}

@if (pariente != null && pariente.Acepto_terminos == true)
{
    <h1 style="text-align: center;">¡Datos actualizados! Revise la información enviada a su correo.</h1>
}
else
{
    if(pariente!= null){
        pariente!.Ip_ingreso = ipAddress;
        pariente.Update();
        pariente.Fecha_ingreso_al_sistema = DateTime.Now;
    }
    <script type="module">        
        import { UpdateView } from "/update/UpdateView.js";
        const ESTADOS_CIVILES = @Html.Raw(estadosCivilesJson);
        const RELIGIONES = @Html.Raw(religionesJson);
        const PAISES = @Html.Raw(paisesJson);
        const REGIONES = @Html.Raw(regionesJson);
        const TITULOS = @Html.Raw(titulosJson);
        window.onload = () => {
            Main.append(new UpdateView({
                ESTADOS_CIVILES: ESTADOS_CIVILES,
                RELIGIONES: RELIGIONES,
                PAISES: PAISES,
                REGIONES: REGIONES,
                TITULOS: TITULOS
            }));
        }
    </script>
    <div id="Main" class="app-container"></div>
}
